.main{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    width: 100%;
    padding: 0.5rem 0rem;
    align-content: center;
}
.img{
    width: 5rem;
    aspect-ratio: 1;
    background-size: cover;
    border-radius: 10px;
}
.title{
    font-weight: bold;
    padding: 0.5rem;
}
.quantity{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    margin: 0rem 1rem;
    border-bottom: 1px solid black;
}
.left{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0rem 1rem;
    border-bottom: 1px solid black;
}
.btn{
    background-color:crimson;
    color:white;
    border: none;
    border-radius: 5px;
    padding: none !important;
    display: flex;
    height: fit-content;
}
.price{
    display: flex;
    align-items: center;
    font-weight: bold;
    /* margin: 0rem 1rem; */
    justify-content: center;
    border-bottom: 1px solid black;
}
.count{
    display: flex;
    align-items: center;
    font-weight: bold;
}
