.main {
  background-color: white;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 3;
  top: 3rem;
  right: 5vw;
  padding: 0rem 1rem 1rem 1rem;
  border-radius: 1rem;
  height: 90vh;
  overflow: auto;
  filter: drop-shadow(1px 1px 5px grey);
  @media (max-width:550px) {
    width: 90vw;
  }
}
.heading {
  font-family: "Metal Mania";
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
}
.row {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr 2fr;
  place-items: start;
  gap: 2rem;
}
.item {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: initial;
  border-bottom: 1px solid black;
  width: 100%;
}
.price {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: initial;
  border-bottom: 1px solid black;
  width: 100%;
}
.quantity {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: initial;
  border-bottom: 1px solid black;
  width: 100%;
}

.btn{
  position: sticky;
  top: 0;
  right: 1rem;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  z-index: 4;
}
.top{
  width: 100%;
  background:linear-gradient(to bottom, white, rgba(255, 255, 255, 0.811), transparent);
  height: 5rem;
  position: sticky;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: right;
}