.main {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.label {
  font-weight: bold;
  font-size: 2rem;
  font-family: "Metal Mania";
  padding: 1rem;
}
.form {
  box-shadow: 1px 1px 10px grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vw;
  padding: 2rem;
  margin: 1rem;
  border-radius: 5px;
}
.title {
  font-weight: bold;
  padding: 5px;
}
.button {
  background-color: black;
  color: white;
  border: none;
  margin: 1.5rem 0rem;
  padding: 5px;
  border-radius: 5px;
}
.input {
  padding: 2px 5px;
}
