.main {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.label {
  font-family: "Metal Mania";
  font-size: 2rem;
  font-weight: bold;
}
.form {
  box-shadow: 1px 1px 5px grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vw;
  padding: 1rem;
  margin: 2rem;
  border-radius: 1rem;
  @media(max-width:500px){
    width: 90vw;
}
}
.title {
  font-weight: bold;
  margin: 5px 5px 5px 0px;
}
.button {
  background-color: black;
  color: white;
  border: none;
  margin: 1.5rem 0rem;
  padding: 5px;
  border-radius: 5px;
}
.input {
  padding: 2px 5px;
  margin: 5px 0px;
  border: 0.5px solid grey;
  appearance: menulist-button;
  background-image: none !important;
  /* background-color: rgb(232, 240, 254); */
  color: fieldtext !important;
  border-radius: 2px;
  margin: 5px 0px;
    background-color: #e8f0fe;
    border: 0.5px solid rgb(153, 196, 218);
}
