.form {
  width: 50vw;
  padding: 1rem;
  box-shadow: 1px 1px 5px grey;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  border-radius: 1rem;
}
.input{
    margin: 5px 0px;
}
.login{
    font-family: 'Metal Mania';
    font-size: 2rem;
    font-weight: bold;
}
.label {
    font-weight: bold;
    margin: 5px 0px;
}
.button {
  margin: 1rem 0rem;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 5px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 1rem;
  
}
