.main{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-weight: bold;
    font-size: 30px;
    font-family: 'Metal Mania';
    margin: 1rem;
}
.para{
    width: 70%;

}
.imageContainer{
    width: 240px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}
.image{
    width: 200px;
    height: 200px;
    background-image: url(https://prasadyash2411.github.io/ecom-website/img/Band%20Members.png);
    background-size: cover;
    border-radius: 50%;
}
.text{
    text-align: left;
}