.label{
    font-size: 2rem;
    font-family: "Metal Mania";
    font-weight: bold;
}
.grid{
    box-sizing: border-box;
    width: 100vw;
    margin:2rem auto;
    padding: 1rem;
    box-sizing: border-box;
    align-content: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 0rem 2rem 0rem 1rem;
    @media(max-width:550px) {
        width: 100vw;
        grid-template-columns: 1fr;
        padding: 1rem;
    };
}
*{
    text-decoration: none !important;
}