.main {
  width: 100vw;
  padding: 1rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: min-content;
  overflow: auto;
  z-index: 1;
  background-color: grey;
  background: url("../../bandImage.jpg");
  background-size: cover;
}
.label {
  color: white;
  font-size: 100px;
  font-family:'Metal Mania';
  /* font-weight: bold; */
  text-shadow: 1px 1px 5px black;
  text-align: center;
  @media(max-width:500px){
    font-size: 4rem;
  }
}
.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  z-index: -1;
  background-image: url("../../bandImage.jpg");
  background-size: cover;
  backdrop-filter: brightness(50%);
  height: min-content;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
