.main{
    width: calc(100vw-2rem);
    padding: 1rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:min-content;
    overflow:auto;
    z-index: 1;
    background-color: grey;
}
.label{
    color: white;
    font-size: 100px;
    font-family: 'fangsong ariel';
    font-weight: bold;
}
.backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    z-index: -1; 
    background-image: url('../../bandImage.jpg');
    background-size:cover;
    backdrop-filter: brightness(50%);
    height: min-content;

  }
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }