.dark{
    background-color: black !important;
    border-bottom: 2px solid white;
    position: sticky;
    top: 0;
    z-index: 2;
}
.link{
    color:  rgb(181, 181, 181);
    margin: 0 1rem 0 0;
}
.active{
    color:  white;
    margin: 0 1rem 0 0;
}